span {
    font-weight: 500;
}

.kittens_grid {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 0.75fr 1fr;
    height: 500px;
}

.kitten {
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.kittens_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kittens_info p {
    text-align: center;
}

.kittens_carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#kitten_1 {
    padding-top: 10vh;
}

.kittens_header {
    height: 400px;
    max-width: 300px;
    text-align: center;
}

@media (max-width: 768px) {

    .kittens_grid {
        display: flex;
        flex-direction: column;
        height: auto;
        grid-gap: 50px
    }

    #kitten_1 {
        padding-top: 100px;
    }

    .kitten {
        margin-bottom: 70px;
    }
}