* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Raleway;
    background: #fcfcfc;
    color: #333;
    line-height: 1.6;
}

h1 {
    font-weight: 900;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
}

h2 {
    font-weight: 900;
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 0px;
}

span {
    font-weight: 600;
    font-size: 18px;
}

ul {
    list-style: none;
}

a:hover {
    opacity: 0.8;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 5px 20px;
    background: rgb(189, 118, 52);
    color: white;
    width: 150px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 8px 8px #333;
} 

.btn:hover {
    opacity: 0.8;
}

.container {
    height: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0px 12px;
}

.box_shadow {
    box-shadow: 5px 5px #333;
}

.menu-wrap {
    display: none;
}

/* Navbar */

.navbar {
    position: fixed;
    width: 100vw;
    padding: 20px;
    z-index: 10;
    background: #fcfcfc;
}

.navbar_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-family: AmoretScriptAlt;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 0px;
    padding: 0px 30px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul a {
    padding: 10px 0px;
    margin: 0px 10px;
}

.navbar ul .insta-logo::after {
    display: none;
}

.navbar ul a:hover {
    opacity: 0.5;
}

/* Hero */

#hero .hero_grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    grid-gap: 12px;
}

#hero .hero_left {
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 5px;
}


#hero .hero_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero_right .hero_right_content {
    max-width: 300px;
    height: auto;
}

/* Contact */ 

#contact .contact_grid {
    min-height: 500px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 0.75fr 1fr;
}

#contact .contact_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .contact_left_content {
    width: 300px;
    height: auto;
}

#contact .contact_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .contact_right_content {
    width: 100%;
    height: auto;
    padding: 25px;
}

#contact form .form_input {
    padding: 10px;
    width: 200px;
    border: #333 1px solid;
    border-radius: 3px;
}

#contact form .form_group {
    margin-top: 20px;
}

#contact form .message {
    border: #333 1px solid;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

#contact form .btn {
    border: none;
    font-family: Raleway;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
}

/* Info */

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

#info .info_content_wrapper {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info a {
    margin-top: 20px;
}

/* Gallery */

#gallery {
    padding-top: 20px;
    padding-bottom: 50px;
}

#gallery .gallery_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
}

#gallery .grid_item {
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
}

#gallery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#gallery h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* Parents */

#parents {
    min-height: 600px;
    padding: 50px 0; 
}

#parents h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

#parents .parents_grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

#parents .parents_left {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#parents .parents_right {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#parents img {
    margin: 40px 0;
    object-fit: cover;
    height: 500px;
    width: 100%;
    border-radius: 5px;
}

/* Footer */

footer {
    padding: 20px;
    background: #333;
    text-align: center;
    color: white;
}

@media (max-width: 768px) {
    .navbar_wrapper {
        display: none;
    }
}

@media (max-width: 768px) {

    .btn {
        width: 200px;
    }

    h1 {
        margin-bottom: 0px;
    }

    /* Mobile Navbar */

    /* .navbar {
        display: ;
    } */

    /* Mobile Hero */

    #hero .hero_grid {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 12px;
    }

    #hero .hero_left {
        display: none;
    }

     /* Mobile Contact */

    #contact {
        margin-bottom: 100px;
    }

    #contact .contact_grid {
        display: flex;
        flex-direction: column;
    }

    #contact .contact_left {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #contact .contact_right_content {
        padding: 0px 12px;
        width: 100%;
        height: auto;
    }

    #contact .contact_right_content form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contact .form_group {
        width: 100%;
    }

    #contact form .form_input {
        width: 100%;
    }

    #contact .form_submit {
        align-self: center;
    }

     /* Mobile Gallery */

    #gallery .gallery_grid {
        display: flex;
        flex-direction: column;
    }

    #gallery .grid_item {
        height: 300px;
        overflow: hidden;
        border-radius: 5px;
    }

    /* Mobile Parents */

    #parents .parents_grid {
        display: flex;
        flex-direction: column;
    }

    #parents img {
        margin: 20px 0;
        object-fit: cover;
        height: 300px;
        width: 100%;
        border-radius: 5px;
    }

    #parents h2 {
        margin-bottom: 0px;
    }

    /* Kittens Page */

    
}